.git

.vscode
.idea

.virtual_documents
.ipynb_checkpoints
*/.ipynb_checkpoints

__pycache__

data/anchor/*
data/negative/*
data/positive/*

application_data/input_imag/*
application_data/verification_images/*
