.git

.vscode
.idea

.virtual_documents
.ipynb_checkpoints
__pycache__

data/anchor/*
data/negative/*
data/positive/*

app_data/input_image/*
app_data/verification_images/*

training_checkpoints

*.keras

siam_net.ipynb

app_data/attendance_records.csv
